<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.catatpelanggaran.gurubk">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_gurubk">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:theme="@style/NoBorder">
        <activity android:name=".dashboard.catat.CatatPenghargaanActivity"></activity>
        <activity android:name=".dashboard.penghargaan.PenghargaanActivity" />
        <activity android:name=".dashboard.datapelanggar.DetailPelanggarActivity" />
        <activity android:name=".dashboard.gurubk.BkActivity" />
        <activity android:name=".dashboard.datapelanggar.DataPelanggarActivity" />
        <activity android:name=".dashboard.pelanggaran.PelanggaranActivity" />
        <activity android:name=".dashboard.catat.CatatPelanggaranActivity" />
        <activity android:name=".dashboard.catat.SiswaActivity" />
        <activity android:name=".dashboard.catat.KelasActivity" />
        <activity android:name=".GurubkActivity" />
    </application>

</manifest>